<div class="container">
    <table>
        <tr>
            <td>Id :</td>
            <td><input type="text" id="id"></td>
        </tr>
        <tr>
            <td>Name :</td>
            <td><input type="text" id="name"></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><input type="text" id="email"></td>
        </tr>
        <tr>
            <td>Mobile :</td>
            <td><input type="text" id="modbile"></td>
        </tr>
        <tr>
            <td></td>
            <td><button id="addNewUseBtn">Add</button><button id="cancelBtn">Cancel</button></td>
        </tr>
    </table>
</div>